body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rules {
  border: 1px solid red;
}

.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 70% 30%;
  grid-template-rows: 15% 85%;
  grid-template-areas:
    "header sidesection"
    "main sidesection"
    "main sidesection";
}

.nav-links {
  transition: .2s ease-in;
  color: #1d1536;
  opacity: .3;
  text-decoration: none;
}

.current-nav-links {
  opacity: 1;
}

button {
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 8px;
  color: white;
  background: rgba(227,43,113,1);
  box-shadow: 2px 7px 28px -6px rgba(227,43,113,.85);
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .main-container {
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }

  button {
    margin-bottom: 15vh;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .main-container {
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }
}